<div class="container">
  <div class="d-flex dashboardflex ">
    <div class="">
      <h5 class="Dashboard-card mx-2">Dashboard</h5>
    </div>
    <div class=" dashboard-right">
      <div class="card">
        <div class="card-body p-1 timeframe-width">
          <i class="ft-clock mx-2 color-medium"></i>
          <span class="time-frame color-medium">Timeframe</span>
          <span class="time-frame color-bold"><b> 01/01/2023</b> to <b> 01/01/2023</b></span>
        </div>
      </div>
      <button class="btn x-icon p-0 mx-1"><i class="ft-x m-2"></i></button>
      <button class="btn p-0 downloadicon"><i class="ft-download m-2"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-width">
        <div class="card-body">
          <p class="color-head">Total Submissions </p>
          <div class="row">
            <div class="col-4 p-0 m-0 dashboard-btn">
              <button class="btn btn-info pt-2 px-0 mx-2"><i class="ft-check  icon-size text-center"></i></button>
            </div>
            <div class="col-8 p-0 m-0 mt-1">
              <h2 class="Dashboard-card fw-bold">120,000</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-width">
        <div class="card-body">
          <p class="color-head">Assessment Used</p>
          <div class="row">
            <div class="col-4 p-0 m-0">
              <button class="btn btn-info pt-2 px-0 mx-2"><i class="ft-layers  icon-size"></i></button>
            </div>
            <div class="col-4 p-0 m-0 ">
              <h3 class="Dashboard-card m-0 fw-bold">9</h3>
              <p class="color-medium small-text m-0 ">Assessment(s)</p>
            </div>
            <div class="col-4 p-0 m-0">
              <div class="vertical-line"></div>
              <h3 class="Dashboard-card m-0 ml-2 fw-bold">150</h3>
              <p class=" color-medium small-text  m-0 ml-2">Test(s)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-width">
        <div class="card-body">
          <p class="color-head">Unit balance</p>
          <div class="row ">
            <div class="col-4 p-0 m-0">
              <button class="btn btn-info pt-2 px-1 mx-2"><i class="ft-database icon-size"></i></button>
            </div>
            <div class="col-5 p-0 m-0">
              <h3 class="Dashboard-card m-0 fw-bold">2900</h3>
              <p class="small-text color-medium m-0">Expires at: 10/10/23</p>
            </div>
            <div class="col-3 p-0 m-0">
              <p class="small-text m-0">
                <span style="color: #c24646;">5,000</span> Used
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-analysis></app-analysis>
<app-assessment></app-assessment>
<app-submissions></app-submissions>
<app-respondents></app-respondents>
